name: Auto Renew and Deploy SSL Certificates

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 15 */2 *' # 每两个月的第二十天执行一次

jobs:
  renew-deploy-cert:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install acme.sh
      env:
        EMAIL: ${{ secrets.EMAIL}}
      run: |
        sudo apt-get update
        sudo apt-get install -y socat
        curl https://get.acme.sh | sh -s email="${EMAIL}"

    - name: Prepare acme.sh credentials
      env:
        DOMAINS: ${{ secrets.DOMAINS }}
      run: |
        mkdir -p ~/.acme.sh
        # 从DOMAINS中提取主域名（取第一个，去掉可能的空格）
        MAIN_DOMAIN=$(echo "${DOMAINS}" | cut -d',' -f1 | xargs)
        # 创建主域名和泛域名证书目录
        mkdir -p ~/certs/${MAIN_DOMAIN}
        mkdir -p ~/certs/wildcard.${MAIN_DOMAIN}

    - name: Obtain SSL Certificates
      env:
        DOMAINS: ${{ secrets.DOMAINS }}
        Ali_Key: ${{ secrets.ALIYUN_ACCESS_KEY_ID }}
        Ali_Secret: ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}
      run: |
        # 提取主域名
        MAIN_DOMAIN=$(echo "${DOMAINS}" | cut -d',' -f1 | xargs)
        
        # 申请主域名证书
        echo "申请主域名证书: ${MAIN_DOMAIN}"
        ~/.acme.sh/acme.sh --issue --dns dns_ali -d "${MAIN_DOMAIN}" \
          --key-file ~/certs/${MAIN_DOMAIN}/privkey.pem \
          --fullchain-file ~/certs/${MAIN_DOMAIN}/fullchain.pem
        
        # 申请泛域名证书
        echo "申请泛域名证书: *.${MAIN_DOMAIN}"
        ~/.acme.sh/acme.sh --issue --dns dns_ali -d "*.${MAIN_DOMAIN}" \
          --key-file ~/certs/wildcard.${MAIN_DOMAIN}/privkey.pem \
          --fullchain-file ~/certs/wildcard.${MAIN_DOMAIN}/fullchain.pem


    - name: Install Python dependencies
      run: pip install -r requirements.txt

    - name: Upload certificates to Alibaba Cloud CDN
      env:
        ALIYUN_ACCESS_KEY_ID: ${{ secrets.ALIYUN_ACCESS_KEY_ID }}
        ALIYUN_ACCESS_KEY_SECRET: ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}
        # 主域名，例如 mzyyun.com
        DOMAINS: ${{ secrets.DOMAINS }}
        # 设置阿里云cdn域名，多个用英文逗号隔开
        ALIYUN_CDN_DOMAINS: ${{ secrets.ALIYUN_CDN_DOMAINS }}
  
      run: python upload_certs_to_aliyun.py

    - name: Clean up
      env:
        DOMAINS: ${{ secrets.DOMAINS }}
      run: |
        MAIN_DOMAIN=$(echo "${DOMAINS}" | cut -d',' -f1 | xargs)
        rm -rf ~/certs/${MAIN_DOMAIN}
        rm -rf ~/certs/wildcard.${MAIN_DOMAIN}
